.addbuttons{
    display: flex;
    gap: 20px;
}
.add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: rgb(35, 212, 53);
}
.reviewcarticon{
    font-size: 30px;
    cursor: pointer;
}